@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightGrayishBlue: hsl(239, 57%, 85%);
  --PaleRed: hsl(357, 100%, 86%);
  --DarkBlue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --LightGray: hsl(223, 19%, 93%);
  --VeryLightGray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);

  --gradient-color-1: var(--VeryLightGray);
  --gradient-color-2: var(--SoftRed);
  --gradient-color-3: var(--ModerateBlue);
  --gradient-color-4: var(--PaleRed);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span i,
i {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section {
  background-color: var(--VeryLightGray);

  padding: 0.5rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: auto;
}

/* COMMENTS  */

.comments-section {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.comment {
  display: grid;
  grid-template-areas:
    "user-info user-info user-info"
    "content  content content"
    "score-area ..... actions";
  grid-template-columns: 100px 1fr 1fr;
  gap: 1rem;
  height: 100%;
  background-color: var(--White);
  padding: 1rem;
  border-radius: 0.5rem;
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid var(--LightGrayishBlue);
  padding-inline-start: 1rem;
}

.user-info {
  grid-area: user-info;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  grid-area: content;
}
.content p {
  line-height: 1.3;
}

.comment-score {
  grid-area: score-area;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--VeryLightGray);
}
.comment-score i {
  cursor: pointer;
  color: var(--LightGrayishBlue);
}
.comment-score i:hover {
  color: var(--ModerateBlue);
}
.comment-score strong {
  color: var(--ModerateBlue);
}

.actions {
  grid-area: actions;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  color: var(--ModerateBlue);
}
.actions i,
.actions span {
  cursor: pointer;
}
.actions i:hover,
.actions span:hover {
  color: var(--LightGray);
}

.username {
  color: var(--DarkBlue);
  font-weight: 800;
}

.user-avatar {
  width: 30px;
  height: 30px;
}

/* FORM  */
form {
  background-color: var(--White);
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas:
    "form-input form-input form-input"
    "form-input form-input form-input"
    "form-avatar  .....   form-button";
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.form-avatar {
  grid-area: form-avatar;
  /* border: 1px solid red; */
}

.form-input {
  grid-area: form-input;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--LightGrayishBlue);
  border-radius: 0.5rem;
  outline: 1px solid transparent;
}
.form-input:focus {
  outline: 1px solid var(--ModerateBlue);
}

.form-button {
  grid-area: form-button;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--ModerateBlue);
  color: var(--White);
  cursor: pointer;
}
.form-button:hover {
  background-color: var(--LightGrayishBlue);
}

/* MAIN FORM CONTAINER  */

/* DESKTOP MEDIA QUERY  */
@media (min-width: 768px) {
  section {
    padding: 3rem 0;
  }
  main {
    width: 60%;
    margin: auto;
  }
  /* COMMENTS  */

  .comments-section {
  }

  .comment {
  }

  .replies {
  }

  .user-info {
  }

  .content {
  }
  .content p {
  }

  .comment-score {
  }
  .comment-score i {
  }
  .comment-score strong {
  }

  .actions {
  }
  .actions i,
  .actions span {
  }

  .username {
  }

  .user-avatar {
  }
}
